
body {
    background-color: rgb(173, 173, 173);
    padding-left: 205px;
    padding-right: 205px;
    padding-bottom: 205px;
    padding-top: 25px;
}

div.container {
    background-color: rgb(129, 255, 157);
    margin: 20px auto;
}

nav {
    display: inline-block;
    display: flex;
    background-color: rgb(94, 94, 94);
    color: white;
    position: sticky;
    padding: 20px;
}

div.nav-item {
    padding-right: 355px;
    display: inline-block;
}

div.fixed-sidebar {
    border: 2px solid black;
    width: 100px;
    height: 450px;
    padding: 2px;
    text-align: center;
    position: fixed;
    top: 300px;
    left: 5px;
}

div.fixed-sidebar img {
    height: 70px;
    width: 70px;
    align-items: center;
}

div.fixed-sidebar ul {
    list-style-type: none;
    padding-left: 1%;
}

figure {
    align-items: center;
    border: 6px white solid;
    background-color: white;
    padding: 10px 10px;
    padding-bottom: 60px;
    height: 250px;
    width: 450px;
    border-radius: 20px;
}