a:link {
    background-color: greenyellow;
}
a:visited {
    background-color: green;
}

h1.rojo {
    text-align: center;
    background-color:red ;
}

h1.negro {
    text-align: center;
    background-color: black;
    color: white;
}

a:hover {
    background-color: yellow;
}

input:focus {
    border: red 2px solid;
    padding: 2px;
}

pre::first-letter {
    color: blue;
    float: left;
    font-size: 300%;
}

#form {
    border-radius: 7%;
    background-color: blueviolet;
}