#saludoDoble {
    font-size: 2em;
}
#saludoTriple {
    font-size: 3em;
    border: 3px dotted yellow;
    background-color: green;
}
#saludoTriplePorcentual {
    font-size: 300%;
    border: 6px inset red;
    background-color: rgb(14, 6, 117);
    color: white;
}
div {
    border-top: 3px inset red;
    border-bottom: 3px ridge blue;
    border-left: 3px double green;
    padding: 6px;
}
#noticia {
    padding: 1.5em 6em 2em 5em;
    background-color: rgb(200, 200, 200);
}